@use '../styles/varible' as *;
.container{max-width:100%;padding-left:20px;padding-right:20px;width:100%;margin-left:auto;margin-right:auto;}
@media screen and (min-width:1536px){
    .container{max-width: 1536px;}
}
.button{padding:15px 20px;display:flex;align-items:center;justify-content:center;width:fit-content;background:$secondary;color:$white;grid-gap:14px;border:1px solid $secondary; border-radius:60px; font-style:normal; font-weight:500; font-size:16px; line-height:19px; position:relative; box-shadow:none; outline:none; z-index:1;transition:.5s all;
  &:after{content:''; position:absolute; left:-6px; top:-6px; bottom:-6px; right:-6px; background:transparent; border-radius:60px; border:6px solid rgba($primary,.15); z-index:-1;}
  &:before{content:'';background:url(/images/button-arrow.svg);width:30px;height:30px;transition:.5s all;}
  &:hover{background-color:$primary;border-color:$primary;
    &:before{transform:rotate(45deg);}
  }
}
.buttonlink{color:$secondary;display:inline-flex;align-items:center;grid-gap:14px;font-weight:500;transition:.5s all;width:max-content;
    &::after{content:'';background:url(/images/button-arrow-white.svg);width:30px;height:30px;transition:.5s all;}
    &:hover{color:$primary;
        &:after{transform:rotate(45deg);}
    }
}
.buttonlink{color:$secondary;display:inline-flex;align-items:center;grid-gap:14px;font-weight:500;transition:.5s all;width:max-content;
    &::after{content:'';background:url(/images/button-arrow-white.svg);width:30px;height:30px;transition:.5s all;}
    &:hover{color:$primary;
        &:after{transform:rotate(45deg);}
    }
}

.banner{padding-top:100px;padding-bottom:100px;}
.counter{padding-top:60px;padding-bottom:60px;}
.missionvision{padding-top:60px;padding-bottom:60px;}
.corevalue{padding-top:100px;padding-bottom:100px;}
.business{padding-top:60px;padding-bottom:60px;}
.maintitle{margin-bottom:50px;
    .title{border:1px solid $darkgrey;border-radius:30px;color:$secondary;display: inline-block;font-size:18px;font-weight:400;margin-bottom:30px;padding:6px 16px;text-transform:capitalize;
        &::before{content:'';width:16px;height:16px;margin-right:10px;background-image:url(/images/top-title.svg);display:inline-block;background-repeat:no-repeat;background-size:cover;}
    }
	h2{margin-bottom:20px;}
}
.centertitle{max-width:1200px;margin-left:auto;margin-right:auto;text-align:center;}

@media screen and (max-width:1150px){
	.banner{padding-top:60px;padding-bottom:60px;}
    .counter{padding-top:30px;padding-bottom:30px;}
    .missionvision{padding-top:30px;padding-bottom:30px;}
    .corevalue{padding-top:60px;padding-bottom:60px;}
    .business{padding-top:30px;padding-bottom:30px;}
	.maintitle{margin-bottom:30px;}
}
@media screen and (max-width:767px){
	.banner{padding-top:30px;padding-bottom:30px;}
    .corevalue{padding-top:30px;padding-bottom:30px;}
}

.banner{
    .bannerrow{display:grid;grid-gap:50px 80px;grid-template-columns:repeat(2, 1fr);align-items:center;}
    .banneinfo{display:grid;grid-gap:30px;}
    .button{margin-top:20px;}
    .bannerimage{
        img{max-width:100%;display:block;height:auto;margin:auto;}
    }
}
@media screen and (max-width: 1200px){
    .banner{
        .bannerrow{grid-gap:50px;}
    }
}
@media screen and (max-width: 1150px){
    .banner{
        .bannerrow{grid-template-columns:repeat(1, 1fr);grid-gap:80px;}
        .banneinfo{text-align:center;}
        .button{margin:0 auto;}
    }
}
@media screen and (max-width: 568px){
    .banner{
        .bannerrow{grid-gap:50px;}
    }
}
.counter{
    .counterrow{padding:30px;border:1px solid $grey;border-radius:24px;display:grid;grid-template-columns:repeat(4, 1fr);text-align:center;}
    .counterbox{
        &:not(:last-child){border-right:1px solid $grey;}
    }
}
@media screen and (max-width:1050px){
    .counter{
        .counterrow{grid-template-columns:repeat(2, 1fr);row-gap:30px;}
        .counterbox{
            &:nth-child(2){border-right:none}
        }
    }
}
@media screen and (max-width:568px){
    .counter{
        .counterrow{padding:20px 0;}
        .counterbox{padding:0 10px; display:grid;row-gap:10px;
            p{font-size:14px;}
        }
    }
}

.missionvision{
    .missionvisionrow{display:grid;grid-template-columns: repeat(2, 1fr);grid-gap:30px}
    .missionvisioninfo{padding:20px 30px;border:1px solid $grey;border-radius:24px;}
    .missionvisionicon{width:50px;height:50px;display:flex;align-items:center;justify-content:center;margin-bottom:30px;}
    h3{margin-bottom:20px;}
}

@media screen and (max-width:1150px){
    .missionvision{
        .missionvisioninfo{padding:20px;}
    }
}

@media screen and (max-width:767px){
    .missionvision{
        .missionvisionrow{grid-template-columns: repeat(1, 1fr);}
        .missionvisioninfo{padding:20px;}
    }
}

.corevalue{
    .corevaluerow{display:grid;grid-template-columns: repeat(2, 1fr);grid-gap:30px 50px;align-items:center;}
    .corevalueimage{
        img{max-width:100%;}
    }
}

@media screen and (min-width:1151px){
    .corevalue{
        .maintitle{margin-bottom:0;}
    }
}

@media screen and (max-width:1150px){
    .corevalue{
        .corevaluerow{grid-template-columns: repeat(1, 1fr);flex-direction:column-reverse;display:flex;}
        .maintitle{max-width:1200px;margin-left:auto;margin-right:auto;text-align:center;}
    }
}

.business{
    .businessrow{display:grid;grid-template-columns:minmax(300px, 40%) minmax(300px, 60%);grid-gap:0px 80px;}
    .businesstitle{
        .maintitle{position:sticky;top:130px;}
    }
    .details{display:grid;grid-gap:30px;
        .detailsitem{padding:30px;border:1px solid $grey;border-radius:24px;display:grid;gap:20px;}
    }
}

@media screen and (max-width:1150px){
    .business{
        .businessrow{grid-template-columns:repeat(1, 1fr);}
        .maintitle{max-width:1200px;margin-left:auto;margin-right:auto;text-align:center;}
        .details{
            .detailsitem{padding:20px;border-radius:12px;}
        }
    }
}