@use '../styles/style' as *;
.main{padding-top:60px;padding-bottom:60px;
	.blogrow{display:grid;grid-template-columns:repeat(3, 1fr);grid-gap:30px;}
	.bloglist{padding-bottom:15px;border-bottom:2px solid $grey;}
	.blogimage{
		img{width:100%;display:block;}
	}
	.blogcontent{margin-top:20px;}
	.blogtag{display:flex;flex-wrap:wrap;gap:5px;margin-bottom:15px;
		a{font-size:12px;padding:4px 15px;display:inline-block;border:1px solid $grey;border-radius:50px;transition:0.4s all ease-in-out;
			&:hover{background-color:$lightred;color:$primary;}
		}
	}
	h4{margin-bottom:10px;}
	p{font-size:16px;}
	.blogauthor{display:flex;flex-wrap:wrap;gap:15px;align-items:center;margin-top:20px;
		.blogauthorbio{width:48px;height:48px;}
		.blogauthordetails{
			p{
				&:first-child{color:$secondary;font-weight:700;}
			}
		}
	}
}
.pagination{margin-top:20px;text-align:center;}

@media screen and (max-width:1150px){
    .main{padding-top:30px;padding-bottom:30px;}
}
