@use '../styles/style' as *;

.main{padding-top:100px;padding-bottom:100px;
    .maintitle{margin-bottom:100px;}
    .row{display:grid;grid-gap:50px 80px;grid-template-columns:repeat(2, 1fr);align-items:center;
        &:not(:last-child){margin-bottom:100px;}
    }
    .model{direction:ltr;grid-gap:30px;display:grid;
        > div{display:grid;grid-gap:20px;
            ul{padding-left:20px;
                li{list-style-type:disc;}
                li+li{margin-top:10px;}
            }
        }
        img{height:auto;max-width:100%;display:block;margin:auto;}
    }
}
@media screen and (min-width:1051px){
    .main{
        .row{
            &:not(:last-child){margin-bottom:100px;}
            &:nth-child(odd){grid-auto-flow:column;direction:rtl}
        }
        .model{direction:ltr;
            > div{direction:ltr;}
        }
    }
}
@media screen and (max-width:1150px){
    .main{padding-top:60px;padding-bottom:60px;
        .maintitle{margin-bottom:80px;}
    }
}
@media screen and (max-width:1050px){
    .main{
        .row{grid-gap:50px 80px;grid-template-columns:repeat(1, 1fr);
            &:not(:last-child){margin-bottom:80px;}
        }
        .model{display:grid;grid-gap:30px;
           
        }
    }
}
@media screen and (max-width:767px){
    .main{padding-top:30px;padding-bottom:30px;
        .maintitle{margin-bottom:50px;}
    }
}
@media screen and (max-width:600px){
    .main{
        .row{
            &:not(:last-child){margin-bottom:50px;}
        }
    }
}

/* Working Model Table */
.difference{padding-top:60px;padding-bottom:60px;}
@media screen and (max-width:1150px){
    .difference{padding-top:30px;padding-bottom:30px;}
}