@use '../styles/style' as *;

.formmain{padding-top:60px;padding-bottom:60px;}
.form{
    .formgroup{grid-template-columns:1fr 1fr;display:grid;grid-gap:30px;padding-bottom:30px;}
    .w100{grid-column:span 2;}
    .formcontrol{
        label{margin-bottom:15px;display:inline-block;font-size:16px;
            span{color:$primary;}
        }
        input, select, textarea{width:100%;font-size:16px; padding:15px 20px;border:1px solid $grey;background:$light;border-radius:10px;color:$darkgrey;font-family:'Averta',serif;
            &::placeholder{font-size:16px;font-family:'Averta',serif;}
            &:focus{outline:none;}
        }
        select{appearance:none;background-image:url(/images/select.svg);background-repeat:no-repeat;background-position:96% 50%;background-size:15px;}
    }
    [type="file"]{color:$darkgrey;
        &::-webkit-file-upload-button{background:$primary;border: 1px solid $primary;border-radius:4px;color:$white;cursor:pointer;font-size:12px;outline:none;padding:10px 25px;text-transform:uppercase;transition:all 1s ease;font-family:'Averta',serif;}
        &::-webkit-file-upload-button:hover{background:transparent;border:1px solid $secondary;color:$secondary;font-family:'Averta',serif;}
    }
}

@media screen and (max-width:1250px){
    .formmain{padding-top:30px;padding-bottom:30px;}
}

@media screen and (max-width:600px){
    .form{
        .formgroup{grid-template-columns:1fr;}
        .w100{grid-column:inherit;}
        .formcontrol{width:100%;
            select{background-position:96% 50%;}
        }
    }
}