@use '../styles/varible' as *;
.container{max-width:100%;padding-left:20px;padding-right:20px;}
.container{width:100%;margin-left:auto;margin-right:auto;}
@media screen and (min-width:1366px){
  .container{max-width: 1200px;}
}
@media screen and (min-width:1536px){
    .container{max-width: 1536px;}
}


.main{position:sticky;top:0;background:$light;z-index:10;
    .navbar{display:flex;flex-wrap:wrap;align-items:center;}
    .logo{display:block;}
    .navmenu{margin:auto;}
}