@use '../styles/varible' as *;
.container{max-width:100%;padding-left:20px;padding-right:20px;width:100%;margin-left:auto;margin-right:auto;}
@media screen and (min-width:1366px){
  .container{max-width: 1200px;}
}
@media screen and (min-width:1536px){
    .container{max-width: 1536px;}
}
.button{padding:15px 20px; display:flex; align-items:center; justify-content:center; width:fit-content; background:$secondary; color:$white; grid-gap: 14px; border: 1px solid $secondary; border-radius:60px; font-style:normal; font-weight:500; font-size:16px; line-height:19px; position:relative; box-shadow:none; outline:none; z-index:1;transition:.5s all;
  &:after{content:''; position:absolute; left:-6px; top:-6px; bottom:-6px; right:-6px; background:transparent; border-radius:60px; border:6px solid rgba($primary,.15); z-index:-1;}
  &:before{content:'';background:url(/images/button-arrow.svg);width:30px;height:30px;transition:.5s all;}
  &:hover{background-color:$primary;border-color:$primary;
    &:before{transform:rotate(45deg);}
  }
}

.banner{padding-top:100px;padding-bottom:60px;}
.aboutus{padding-top:60px;padding-bottom:60px;}
.services{padding-top:60px;padding-bottom:60px;}
.maintitle{margin-bottom:80px;
    .title{border:1px solid $darkgrey;border-radius:30px;color:$secondary;display: inline-block;font-size:18px;font-weight:400;margin-bottom:30px;padding:6px 16px;text-transform:capitalize;
        &::before{content:'';width:16px;height:16px;margin-right:10px;background-image:url(/images/top-title.svg);display:inline-block;background-repeat:no-repeat;background-size:cover;}
    }
	h2{margin-bottom:20px;}
}
@media screen and (max-width:1150px){
	.banner{padding-top:60px;padding-bottom:30px;}
    .aboutus{padding-top:30px;padding-bottom:30px;}
    .services{padding-top:30px;padding-bottom:30px;}
	.maintitle{margin-bottom:50px;}
}
@media screen and (max-width:767px){
	.banner{padding-top:40px;padding-bottom:20px;}
    .aboutus{padding-top:20px;padding-bottom:20px;}
    .services{padding-top:20px;padding-bottom:20px;}
}

.banner{
    .bannerrow{display:grid;grid-gap:50px 80px;grid-template-columns:repeat(2, 1fr);align-items:center;}
    .banneinfo{display:grid;grid-gap:30px;}
    .button{margin-top:20px;}
    .bannerimage{
        img{max-width:100%;display:block;height:auto;margin:auto;}
    }
}

@media screen and (max-width: 1200px){
    .banner{
        .bannerrow{grid-gap:50px;}
    }
}
@media screen and (max-width: 1150px){
    .banner{
        .bannerrow{grid-template-columns:repeat(1, 1fr);grid-gap:80px;}
        .banneinfo{text-align:center;}
        .button{margin:20px auto 0;}
    }
}
@media screen and (max-width: 568px){
    .banner{
        .bannerrow{grid-gap:50px;}
    }
}

.counter{
    .counterrow{display:grid;grid-gap:20px 30px;grid-template-columns:repeat(4, 1fr);}
    .counterbox{padding:20px;border:1px solid $grey;border-radius:10px;display:grid;grid-gap:10px;}
}

@media screen and (max-width:1150px) and (min-width:992px){
    .counter{
        .counterrow{grid-gap:15px;}
    }
}

@media screen and (max-width:991px) and (min-width: 569px){
    .counter{
        .counterrow{grid-template-columns:repeat(2, 1fr);}
    }
}

@media screen and (max-width:568px){
    .counter{
        .counterrow{grid-template-columns:repeat(1, 1fr);}
    }
}

.aboutus{
    .maintitle{max-width:1100px;margin-left:auto;margin-right:auto;text-align:center;}
    .aboutusrow{display:grid;grid-template-columns:repeat(4, 1fr);grid-gap:50px 30px;text-align:center;}
    .aboutusbox{display:grid;grid-gap:20px;
        h4{font-weight:400;}
    }
}

@media screen and (max-width:991px){
    .aboutus{
        .aboutusrow{grid-template-columns:repeat(2, 1fr);}
        .aboutusicon{width:80px;height:80px;margin:auto;
            img{max-width:100%;width:auto;height:auto;}
        }
    }
}

.services{
    .servicesrow{grid-template-columns:repeat(2, 1fr);grid-gap:0 50px;display:grid;}
    .button{margin-top:50px;}
    .maintitle{position:sticky;top:130px;}
    .servicesbox{padding:20px;display:flex;grid-gap:15px 30px;border:1px solid $grey;border-radius:10px;
        
        &:not(:last-child){margin-bottom:15px;}
    }
    .servicesicon{width:60px;height:60px;background-color:$lightred;}
    .servicesinfo{display:grid;grid-gap:10px;
    }
}

// @media screen and (max-width:1200px) and (min-width:768px){
//     .services{
//         .maintitle{margin-bottom:0px;}
//     }
// }

@media screen and (max-width:1200px){
    .services{
        .servicesrow{grid-template-columns:repeat(1, 1fr);}
    }
}

@media screen and (max-width:767px){
    .services{
        .servicesbox{display:grid;}
    }
}