@use '../styles/varible' as *;
.container{max-width:100%;padding-left:20px;padding-right:20px;width:100%;margin-left:auto;margin-right:auto;}
@media screen and (min-width:1536px){
    .container{max-width: 1536px;}
}
.button{padding:15px 20px;display:flex;align-items:center;justify-content:center;width:fit-content;background:$secondary;color:$white;grid-gap:14px;border:1px solid $secondary; border-radius:60px; font-style:normal; font-weight:500; font-size:16px; line-height:19px; position:relative; box-shadow:none; outline:none; z-index:1;transition:.5s all;
  &:after{content:''; position:absolute; left:-6px; top:-6px; bottom:-6px; right:-6px; background:transparent; border-radius:60px; border:6px solid rgba($primary,.15); z-index:-1;}
  &:before{content:'';background:url(/images/button-arrow.svg);width:30px;height:30px;transition:.5s all;}
  &:hover{background-color:$primary;border-color:$primary;
    &:before{transform:rotate(45deg);}
  }
}
.buttonlink{color:$secondary;display:inline-flex;align-items:center;grid-gap:14px;font-weight:500;transition:.5s all;width:max-content;
    &::after{content:'';background:url(/images/button-arrow-white.svg);width:30px;height:30px;transition:.5s all;}
    &:hover{color:$primary;
        &:after{transform:rotate(45deg);}
    }
}

.banner{padding-top:100px;padding-bottom:100px;}
.counter{padding-top:60px;padding-bottom:60px;}
.aboutus{padding-top:60px;padding-bottom:60px;}
.services{padding-top:60px;padding-bottom:60px;}
.accordion{padding-top:60px;padding-bottom:60px;}
.maintitle{margin-bottom:50px;
    .title{border:1px solid $darkgrey;border-radius:30px;color:$secondary;display: inline-block;font-size:18px;font-weight:400;margin-bottom:30px;padding:6px 16px;text-transform:capitalize;
        &::before{content:'';width:16px;height:16px;margin-right:10px;background-image:url(/images/top-title.svg);display:inline-block;background-repeat:no-repeat;background-size:cover;}
    }
	h2{margin-bottom:20px;}
}
.centertitle{max-width:1200px;margin-left:auto;margin-right:auto;text-align:center;}

@media screen and (max-width:1150px){
	.banner{padding-top:60px;padding-bottom:60px;}
    .aboutus{padding-top:30px;padding-bottom:30px;}
    .counter{padding-top:30px;padding-bottom:30px;}
    .services{padding-top:30px;padding-bottom:30px;}
    .accordion{padding-top:30px;padding-bottom:30px;}
	.maintitle{margin-bottom:30px;
        .title{font-size:16px;}
    }
}
@media screen and (max-width:767px){
	.banner{padding-top:30px;padding-bottom:30px;}
}

.banner{
    .bannerrow{display:grid;grid-gap:50px 80px;grid-template-columns:repeat(2, 1fr);align-items:center;}
    .banneinfo{display:grid;grid-gap:30px;}
    .button{margin-top:20px;}
    .bannerimage{
        img{max-width:100%;display:block;height:auto;margin:auto;}
    }
}
@media screen and (max-width: 1200px){
    .banner{
        .bannerrow{grid-gap:50px;}
    }
}
@media screen and (max-width: 1150px){
    .banner{
        .bannerrow{grid-template-columns:repeat(1, 1fr);grid-gap:80px;}
        .banneinfo{text-align:center;}
        .button{margin:0 auto;}
    }
}
@media screen and (max-width: 568px){
    .banner{
        .bannerrow{grid-gap:50px;}
    }
}

.counter{
    .counterrow{padding:30px;border:1px solid $grey;border-radius:24px;display:grid;grid-template-columns:repeat(4, 1fr);text-align:center;}
    .counterbox{
        &:not(:last-child){border-right:1px solid $grey;}
    }
}
@media screen and (max-width:1050px){
    .counter{
        .counterrow{grid-template-columns:repeat(2, 1fr);row-gap:30px;}
        .counterbox{
            &:nth-child(2){border-right:none}
        }
    }
}
@media screen and (max-width:568px){
    .counter{
        .counterrow{padding:20px 0;}
        .counterbox{padding:0 10px; display:grid;row-gap:10px;
            p{font-size:14px;}
        }
    }
}

.aboutus{
    .aboutusrow{display:grid;grid-template-columns:repeat(4, 1fr);grid-gap:50px 30px;text-align:center;margin-top:100px;}
    .aboutusbox{display:grid;grid-gap:20px;
        h4{font-weight:400;}
    }
}
@media screen and (max-width:991px){
    .aboutus{
        .aboutusrow{grid-template-columns:repeat(2, 1fr);margin-top:50px;}
        .aboutusicon{width:60px;height:60px;margin:auto;
            img{max-width:100%;width:auto;height:auto;width:100%;}
        }
    }
}

.services{
    .servicesrow{grid-template-columns:repeat(2, 1fr);grid-gap:0 50px;display:grid;}
    .button{margin-top:50px;}
    .maintitle{position:sticky;top:130px;}
    .servicesbox{padding:20px;display:flex;grid-gap:15px 30px;border:1px solid $grey;border-radius:10px;
        
        &:not(:last-child){margin-bottom:15px;}
    }
    .servicesicon{width:60px;height:60px;background-color:$lightred;}
    .servicesinfo{display:grid;grid-gap:10px;
    }
}
@media screen and (max-width:1200px){
    .services{
        .servicesrow{grid-template-columns:repeat(1, 1fr);}
    }
}
@media screen and (max-width:767px){
    .services{
        .servicesbox{display:grid;}
    }
}

.accordion{
	.row{display:grid;grid-template-columns: minmax(300px, 35%) minmax(300px, 65%);grid-gap:0px 80px;}
	.accordionsidebar{width:100%;
		.maintitle{position:sticky;top:130px;}
	}
	.accordionslist{width:100%;}
	.accordionsitem{padding:20px;border-radius:16px;border:1px solid $grey;
		&:not(:last-child){margin-bottom:20px;}
		[hidden]{display: none;}
	}
    .accordionsheader{cursor:pointer;display:flex;gap:10px;
        p{font-weight:600;color:$secondary; width:calc(100% - 30px);}
        .accordionsicon{background-repeat:no-repeat;background-size:100%;display:flex;background-image:url(/images/plus-arrow.svg);height:20px;width:20px;position:relative;top:5px;}
        &[aria-expanded=true]{
            .accordionsicon{
                background-image:url(/images/close-arrow.svg);
            }
        }
    }
    .accordionsdata{margin-top:20px;padding-top:20px;border-top:1px solid $grey;
        *+*{margin-top:10px;}
        p{font-size:16px;}
        ul{padding-left:20px;
            li{list-style-type:disc;font-size:16px;}
        }
    }
}
@media screen and (max-width:1024px){
	.accordion{
        .row{grid-template-columns:1fr;}
	}
}