@use '../styles/style' as *;
.main{padding-top:60px;padding-bottom:60px;
    .industriesrow{display:grid;grid-gap:60px 30px;grid-template-columns:repeat(4, 1fr);}
    .industriesbox{display:grid;grid-gap:20px;text-align:center;}
}
@media screen and (max-width:1150px){
    .main{padding-top:30px;padding-bottom:30px;
        .industriesrow{grid-template-columns:repeat(3, 1fr);}
    }
}
@media screen and (max-width:767px){
    .main{
        .industriesicon{
            img{width:40px;height:40px;}
        }
    }
}
@media screen and (max-width:568px){
    .main{
        .industriesrow{grid-template-columns:repeat(2, 1fr);grid-gap:32px 32px;}
    }
}