@use '../styles/style' as *;
.main{padding-top:60px;padding-bottom:60px;
	.wrap{padding:30px;background-color:$light;border:1px solid $grey;height:100%;display:grid;border-radius:24px;
		i{margin-bottom:20px;display:inline-block;}
	}
	.userinfo{margin-top:auto;display:flex;flex-wrap:wrap;padding-top:30px;gap:20px;
		.image{width:60px;height:60px;display:flex;align-items:center;justify-content:center;background-color:$light;border:1px solid $grey;border-radius:8px;color:$primary;font-weight:600;}
		p{color:$secondary;
			&:last-child{font-size:16px;color:$darkgrey;}
		}
	}
}
@media screen and (max-width:1150px){
    .main{padding-top:30px;padding-bottom:30px;}
}