// Global Varible
$primary:#DC1D47;
$secondary:#141414;
$grey:#E0E0E0;
$lightgrey:#F5F5FF;
$darkgrey:#81807E;
$lightred:#FFFBFA;
$white:#FFFFFF;
$light:#FCF9F3;
$shadow: 4px 6px 6px rgba($secondary, 0.05);