@use '../styles/style' as *;
.main{padding-top:60px;padding-bottom:60px;
    .whyusrow{display:flex;grid-gap:30px 50px;}
    .whyusinfo{width:56%;display:grid;grid-gap:20px 30px;grid-template-columns:repeat(2, 1fr);}
    .whyuslist{display:flex;align-items:center;grid-gap:15px;padding:15px 30px;border-radius:20px;border:1px solid $grey;
        .whyusicon{width:40px;height:40px;display:flex;align-items:center;justify-content:center;}
        &:first-child,&:last-child{background-color:$secondary;justify-content:space-between;flex-direction:row-reverse;
            .whyuscounter, p{color:$white;}
        }
    }
    .whyusimage{width:44%;border:1px solid $grey;border-radius:24px;padding:30px;display:grid;align-items:center;justify-content:center;}
}
@media screen and (max-width:1150px){
    .main{padding-top:30px;padding-bottom:30px;}
}
@media screen and (max-width:1200px){
    .main{
        .whyusrow{display:grid;}
        .whyusinfo{width:100%;}
        .whyusimage{width:100%;max-width:max-content;margin:auto;}
    }   
}
@media screen and (max-width:650px){
    .main{
        .whyusrow{display:grid;}
        .whyusinfo{width:100%;grid-template-columns: repeat(1, 1fr);}
        .whyuslist{padding:20px;
            &:first-child,&:last-child{min-height:82px;}
        }
        .whyusimage{width:100%;max-width:100%;}
    }   
}